<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Editing book information</h1>
	<div>
	<form th:object="${editBook}" th:action="@{/saveEditedBook}" action="#" method="post">
		  	<input type="hidden" id="id" th:field="*{id}" />
		  	<div>
		  	<label>Author</label>
			<input type="text" th:field="*{author}" />
			</div>
			<div>
		  	<label>Title</label>
		  	<input type="text" th:field="*{title}" />
			</div>
            <div>
                <label>Publication Year</label>
                <input type="text" th:field="*{publicationYear}" />
              </div>
              <div>
                <label>ISBN</label>
                <input type="text" th:field="*{isbn}" />
              </div>
              <div>
                <label>Price</label>
                <input type="text" th:field="*{price}" />
              </div>
			  <div>
				<label for="categoryList">Category</label>
				<select id="categoryList" th:field="*{category}" class="form-control">
					<option th:each="category: ${categories}" th:value="${category.categoryid}" th:text="${category.name}"></option>
				</select>
			  </div>
						
			<input type="submit" value="Save update"></input>
		</form>
	
	</div>

 	
</body>
</html>